# MongoDB 연결 문자열
# 미설정 시 코드 기본값: mongodb://localhost:27017/todo
#MONGO_URI=mongodb://localhost:27017/todo

# Atlas 예시
#MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/todo

# 서버 포트 (미설정 시 5000)
#PORT=5000
